<div class="border-bottom mb-4 md:max-w-[800px] lg:max-w-none">
  <h3 class="text-center cursor-pointer" routerLink="">
    Welcome to Flight Advisor Service!
  </h3>
</div>
<form class="card p-3" [formGroup]="form!" (submit)="onSubmit()">
  <div class="mb-4">
    <div class="text-xl">Where would you like to travel...</div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form!">
    <div class="mb-4">
      <div class="flex mb-4 flex-col md:flex-row md:justify-between">
        <div class="space-x-4 mb-3 sm:mb-0">
          <div
            class="btn"
            [ngClass]="isRoundTrip ? 'btn-primary' : 'btn-light'"
            (click)="onTripTypeChange(true)"
          >
            Roundtrip
          </div>
          <div
            class="btn"
            [ngClass]="!isRoundTrip ? 'btn-primary' : 'btn-light'"
            (click)="onTripTypeChange(false)"
          >
            One-way
          </div>
        </div>
        <div class="space-x-4">
          <select
            class="btn btn-link outline-none"
            formControlName="travellers"
          >
            <option value="1" selected>1 traveler</option>
            <option value="2">2 travelers</option>
            <option value="3">3 travelers</option>
            <option value="4">4 travelers</option>
          </select>
          <select class="btn btn-link outline-none">
            <option value="1" selected>Economy</option>
            <option value="2">Premium economy</option>
            <option value="3">Business class</option>
            <option value="4">First class</option>
          </select>
        </div>
      </div>
      <div
        class="space-y-3 flex flex-col lg:flex-row lg:items-center lg:space-x-4 lg:space-y-0"
      >
        <div class="space-y-3 md:flex md:items-start md:space-x-4 md:space-y-0">
          <div
            class="border border-gray-200 rounded flex items-center py-1 px-2 w-full"
          >
            <span
              *ngIf="isSearchingFromAirports"
              class="spinner-border spinner-border-sm text-secondary"
              role="status"
              aria-hidden="true"
            ></span>
            <ng-icon
              *ngIf="!isSearchingFromAirports"
              name="ionLocation"
              class="text-xl text-secondary mr-1"
              style="line-height: 0"
            ></ng-icon>
            <input
              id="from"
              list="from"
              name="from"
              placeholder="Flying from"
              class="outline-none flex-1 border-none placeholder:font-light"
              formControlName="from"
              required
              autofocus
              (keyup)="onKeypress($event)"
              (change)="onSelect(1)"
            />
            <datalist id="from">
              <option
                *ngFor="let airport of airports"
                value="{{ airport.iata }}"
              >
                {{ airport.name }}
              </option>
            </datalist>
          </div>
          <div
            class="outline-none border border-gray-200 rounded flex items-center py-1 px-2 w-full"
          >
            <span
              *ngIf="isSearchingToAirports"
              class="spinner-border spinner-border-sm text-secondary"
              role="status"
              aria-hidden="true"
            ></span>
            <ng-icon
              *ngIf="!isSearchingToAirports"
              name="ionLocation"
              class="text-xl text-secondary mr-1"
              style="line-height: 0"
            ></ng-icon>
            <input
              id="from"
              list="from"
              placeholder="Flying to"
              class="outline-none flex-1 border-none placeholder:font-light"
              formControlName="to"
              name="to"
              (keyup)="onKeypress($event)"
              (change)="onSelect(2)"
            />
          </div>
          <div *ngIf="isSubmitted && f.from.errors" class="invalid-feedback">
            <div *ngIf="f.from.errors['required']">
              Select flying from airport.
            </div>
          </div>
          <datalist id="to">
            <option *ngFor="let airport of airports" value="{{ airport.iata }}">
              {{ airport.name }}
            </option>
          </datalist>
        </div>
        <div class="flex items-center space-x-4 flex-1">
          <input
            type="date"
            class="outline-none border border-gray-200 rounded flex items-center py-1 px-2 flex-1 text-secondary"
          />
          <input
            type="date"
            class="outline-none border border-gray-200 rounded flex items-center py-1 px-2 flex-1"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <button
        type="submit"
        class="btn btn-primary min-w-[140px]"
        [disabled]="isSearching"
      >
        <span
          *ngIf="isSearching"
          class="spinner-grow spinner-grow"
          role="status"
          aria-hidden="true"
        ></span>
        Search
      </button>
    </div>
  </form>
</form>

<div class="text-center" *ngIf="isSubmitted && trips.length == 0">
  <hr />
  <p class="mb-0 lead text-dark">No search results! try again...</p>
</div>

<!-- Trips -->
<div *ngIf="trips.length != 0">
  <div *ngFor="let trip of trips" class="card mt-4 p-3">
    <div class="flex space-x-4">
      <div class="flex-1">
        <div class="flex items-center text-sm space-x-2">
          <div>
            {{ trip.start?.name }}
          </div>
          <div>
            <ng-icon name="ionArrowForward"></ng-icon>
          </div>
          <div>
            {{ trip.end?.name }}
          </div>
        </div>
        <div *ngFor="let stop of trip.through">
            <div class="text-sm">{{stop.name}}📍</div>
        </div>
      </div>
      <div class="text-center">
        <div class="font-semibold">
          {{ trip.distance?.total }}{{ trip.distance?.in }}
        </div>
        <div class="text-sm">{{ trip.through?.length }} stop<span>s</span></div>
      </div>
      <div class="text-xl font-bold">
        <span>{{ trip.price?.currency }}$</span>{{ trip.price?.total }}
      </div>
    </div>
  </div>
</div>
